@import url("https://fonts.googleapis.com/css?family=Raleway|Droid+Sans|Roboto+Slab:400,700");
body {
  margin: 0;
  padding: 0;
  background-image: url("img/nuage.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  font-weight: 400;
}
@media screen and (max-width: 376px) {
  body {
    background-size: cover;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
}

.logo {
  width: 140px;
}
@media screen and (max-width: 376px) {
  .logo {
    width: 100px;
  }
}

label {
  margin: 10px;
  color: whitesmoke;
}
@media screen and (max-width: 376px) {
  label {
    font-size: 15px;
  }
}

.titre {
  color: white;
}
@media screen and (max-width: 376px) {
  .titre {
    font-size: 20px;
  }
}

#city {
  border-radius: 40px;
  border: none;
}
@media screen and (max-width: 376px) {
  #city {
    border-radius: 5px;
    height: 10px;
    width: 40px;
    font-size: 7px;
  }
}

.meteoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  width: 80vw;
  height: 270px;
  background-color: rgba(245, 245, 245, 0.575);
  border-radius: 20px;
  padding-top: 10px;
  position: relative;
}
@media screen and (max-width: 376px) {
  .meteoCard {
    width: 80vw;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
  }
}
.meteoCard__photo {
  padding-right: 10px;
  border-radius: 10%;
}
.meteoCard__city {
  text-align: center;
  font-weight: 800;
}
.meteoCard__day1 {
  width: 135px;
  height: 250px;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}
.meteoCard__day2 {
  width: 135px;
  height: 250px;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}
.meteoCard__day3 {
  width: 135px;
  height: 250px;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}
.meteoCard__day4 {
  width: 135px;
  height: 250px;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}
.meteoCard__day5 {
  width: 135px;
  height: 250px;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
}

.inputButton {
  border: none;
  background-color: rgb(10, 255, 26);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 10px;
}
@media screen and (max-width: 376px) {
  .inputButton {
    width: 10px;
    height: 10px;
  }
}

.day {
  font-size: 13px;
}

.fa-solid {
  margin-right: 10px;
}

#buttonExit {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: red;
}
@media screen and (max-width: 376px) {
  #buttonExit {
    position: absolute;
    top: 10px;
    left: 290px;
  }
}/*# sourceMappingURL=style.css.map */