@import 'asset/mixin';
@import url('https://fonts.googleapis.com/css?family=Raleway|Droid+Sans|Roboto+Slab:400,700');


.header  {
    display: flex;
    justify-content: center;
    align-items: center;
&__logo {
    width: 140px;

    @include phone {
        width: 100px;
    }

    

    &__titre {
        color: white;

        @include phone {
            font-size: 20px;
        }
    }
}}


body {
    margin: 0;
    padding: 0;
    background-image: url("img/nuage.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway";
    font-weight: 400;


    @include phone {
        background-size: cover;
    }
}



.form {
    display: flex;
    align-items: center;

    &__label {
        margin: 10px;
        color: whitesmoke;
    
        @include phone {
            font-size: 15px;
        }
    }
    &__input {
        border-radius: 40px;
        border: none;
    
        @include phone {
            border-radius: 5px;
            height: 10px;
            width: 40px;
            font-size: 7px;
        }
    
    }
    &__button{
        border: none;
        background-color: rgb(10, 255, 26);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin: 10px;
    
        @include phone {
            width: 10px;
            height: 10px;
        }
    }
    
}







p {
    margin-block-end: 6px;
    margin-block-start: 6px;
}


figcaption {
    padding-left: 30px;
  font-size: 14px;
  @include phone {font-size: 20px;}
}

.meteoCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    width: 80vw;
    height: 270px;
    background-color: rgba(245, 245, 245, 0.575);
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;

    @include phone {
        width: 80vw;
        height: 580px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-top: 300px;
    }

    &__photo {
        width: 250px;
        height: 200px;
        padding: 10px;
        border-radius: 10%;

        @include phone {
            position: absolute;
            top: 0px;
            left: 5px;
        }


    }

    &__city {
        text-align: center;
        font-weight: 800;
    }


    &__day1 {
        @include day;


    }

    &__day2 {
        @include day
    }

    &__day3 {
        @include day
    }

    &__day4 {
        @include day
    }

    &__day5 {
        @include day
    }
}



.day {
    font-size: 13px;
}

.fa-solid {
    margin-right: 10px;
}

#buttonExit {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: red;

    @include phone {
        position: absolute;
        top: 10px;
        left: 290px;
    }
}