@import url("https://fonts.googleapis.com/css?family=Raleway|Droid+Sans|Roboto+Slab:400,700");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 140px;
}
@media screen and (max-width: 431px) {
  .header__logo {
    width: 100px;
  }
}
.header__logo__titre {
  color: white;
}
@media screen and (max-width: 431px) {
  .header__logo__titre {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url("img/nuage.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  font-weight: 400;
}
@media screen and (max-width: 431px) {
  body {
    background-size: cover;
  }
}

.form {
  display: flex;
  align-items: center;
}
.form__label {
  margin: 10px;
  color: whitesmoke;
}
@media screen and (max-width: 431px) {
  .form__label {
    font-size: 15px;
  }
}
.form__input {
  border-radius: 40px;
  border: none;
}
@media screen and (max-width: 431px) {
  .form__input {
    border-radius: 5px;
    height: 10px;
    width: 40px;
    font-size: 7px;
  }
}
.form__button {
  border: none;
  background-color: rgb(10, 255, 26);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 10px;
}
@media screen and (max-width: 431px) {
  .form__button {
    width: 10px;
    height: 10px;
  }
}

p {
  margin-block-end: 6px;
  margin-block-start: 6px;
}

figcaption {
  padding-left: 30px;
  font-size: 14px;
}
@media screen and (max-width: 431px) {
  figcaption {
    font-size: 20px;
  }
}

.meteoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  width: 80vw;
  height: 270px;
  background-color: rgba(245, 245, 245, 0.575);
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 10px;
  position: relative;
}
@media screen and (max-width: 431px) {
  .meteoCard {
    width: 80vw;
    height: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 300px;
  }
}
.meteoCard__photo {
  width: 250px;
  height: 200px;
  padding: 10px;
  border-radius: 10%;
}
@media screen and (max-width: 431px) {
  .meteoCard__photo {
    position: absolute;
    top: 0px;
    left: 5px;
  }
}
.meteoCard__city {
  text-align: center;
  font-weight: 800;
}
.meteoCard__day1 {
  width: 135px;
  height: 250px;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  font-family: 10px;
}
@media screen and (max-width: 431px) {
  .meteoCard__day1 {
    font-size: 12px;
    width: 115px;
    height: 170px;
    margin: 5px;
  }
}
.meteoCard__day2 {
  width: 135px;
  height: 250px;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  font-family: 10px;
}
@media screen and (max-width: 431px) {
  .meteoCard__day2 {
    font-size: 12px;
    width: 115px;
    height: 170px;
    margin: 5px;
  }
}
.meteoCard__day3 {
  width: 135px;
  height: 250px;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  font-family: 10px;
}
@media screen and (max-width: 431px) {
  .meteoCard__day3 {
    font-size: 12px;
    width: 115px;
    height: 170px;
    margin: 5px;
  }
}
.meteoCard__day4 {
  width: 135px;
  height: 250px;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  font-family: 10px;
}
@media screen and (max-width: 431px) {
  .meteoCard__day4 {
    font-size: 12px;
    width: 115px;
    height: 170px;
    margin: 5px;
  }
}
.meteoCard__day5 {
  width: 135px;
  height: 250px;
  margin-left: 50px;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  text-align: start;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  font-family: 10px;
}
@media screen and (max-width: 431px) {
  .meteoCard__day5 {
    font-size: 12px;
    width: 115px;
    height: 170px;
    margin: 5px;
  }
}

.day {
  font-size: 13px;
}

.fa-solid {
  margin-right: 10px;
}

#buttonExit {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: red;
}
@media screen and (max-width: 431px) {
  #buttonExit {
    position: absolute;
    top: 10px;
    left: 290px;
  }
}/*# sourceMappingURL=style.css.map */